$white-text: white;
$grey-text: #A0A0A0;

$image:(
    nature_1: '../src/images/thumbs/01.jpg',
    nature_2: '../src/images/thumbs/02.jpg',
    nature_3: '../src/images/thumbs/03.jpg',
    nature_4: '../src/images/thumbs/04.jpg',
    nature_5: '../src/images/thumbs/05.jpg',
    nature_6: '../src/images/thumbs/06.jpg',
    nature_7: '../src/images/thumbs/07.jpg',
    nature_8: '../src/images/thumbs/08.jpg',
    nature_9: '../src/images/thumbs/08.jpg',
    nature_10: '../src/images/thumbs/10.jpg',
    nature_11: '../src/images/thumbs/11.jpg',
    nature_12: '../src/images/thumbs/12.jpg',
);

